<div class="container">
    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    {{ form_widget(form.lastname) }}
    {{ form_widget(form.firstname) }}
    {{ form_widget(form.address) }}
    {{ form_widget(form.postal) }}
    {{ form_widget(form.city) }}
    {{ form_widget(form.country) }}
    {{ form_end(form) }}
</div>
