<div class="col-12">
    <nav>
        <ul class="pagination">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(path, { page : 1 }) }}">First</a>
                </li>
            {% endif %}
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(path, { page : page - 1 }) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for p in range %}
                <li class="page-item {{ page == p ? "active" : "" }}">
                    <a class="page-link" href="{{ path(path, { page : p }) }}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if page < pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(path, { page : page + 1 }) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            {% if page < pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(path, { page : pages }) }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
