<div class="container ml-5 mr-5">
    {{ form_start(form) }}
    {{- form_widget(form.email) -}}
    {{- form_widget(form.old_password) -}}
    {{- form_widget(form.new_password) -}}
    {{ form_end(form) }}
</div>

