{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block title %}My addresses{% endblock %}
{% block body %}
    <div class="wrapper">
        <div id="user_address">
            <div class="container">
                <div class="row justify-content-center mb-2">Add new address</div>
                <hr>
                {{ form_start(form) }}
                <div class="d-flex justify-content-between p-2 mb-2">
                    {% if 'account/edit' in app.request.server.get('HTTP_REFERER') %}
                        <a href="{{ path('user_account_edit', {id:app.user.id}) }}" class="btn btn-outline-info btn-sm"><< Back</a>
                    {% else %}
                        <a href="{{ path('account_address') }}" class="btn btn-outline-info btn-sm"><< Back</a>
                    {% endif %}
                    {{- form_widget(form.submit, {'attr':{'class':'btn btn-warning btn-sm'}}) -}}
                </div>
                <hr>
                <div class="container">
                    <div class="col-md-12">
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.lastname) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.address) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.postal) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_widget(form.country) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
