{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{ form_start(form) }}
    {{- form_widget(form.email) -}}
    {{- form_widget(form.old_password) -}}
    {{- form_widget(form.new_password) -}}
{{ form_end(form) }}

