<hr>
<div class="row">
    <div class="col-5">
        <div class="container mt-0 pt-0">
            {{- form_label(form.name) -}}{{- form_widget(form.name) -}}
        </div>
        <div class="container mt-0 pt-0">
            {{- form_widget(form.categories) -}}
        </div>
        <div class="container mt-0 pt-0">
            {{- form_widget(form.options) -}}
        </div>
        <div class="container mt-0 pt-0">
            {{- form_widget(form.price) -}}
        </div>
        <hr>
        <div class="container mt-2 pt-2 text-center">
            {% if app.request.attributes.get('_route') == 'root_admin_model_edit' %}
                <p class="text-dark pt-2"><em>Thumbnail :</em></p>
                <img class="img-fluid" src="{{ asset('/uploads/models/thumbnails/'~model.thumbnail)| imagine_filter('medium') }}"/>
                {{- form_errors(form.thumbnail) -}}
                <p class="p-3">{{- form_widget(form.thumbnail) -}}</p>
            {% else %}
                {{- form_errors(form.thumbnail) -}}
                <p>{{- form_label(form.thumbnail) -}}{{- form_widget(form.thumbnail) -}}</p>
            {% endif %}
        </div>
        <div class="container text-center bg-white">
            {% if app.request.attributes.get('_route') == 'root_admin_model_edit' %}
                <p class="card-header text-center">{{ form.opinions|length }} OPINIONS</p>
                <div class="row mt-1 bg-white"
                     data-prototype="{{ include('root-admin/model/prototype/_opinion.html.twig', {form:form.opinions.vars.prototype})|e('html_attr') }}"
                     data-index="{{ form.opinions|length > 0 ? form.opinions|last.vars.name + 1 : 0 }}">
                    {% for opinion in form.opinions %}
                        <div class="col-6">
                            <em class="text-primary"><small>Posted by <a href="{{ path('root_admin_user_edit',{ id : opinion.vars['value'].user.id  }) }}">{{ opinion.vars['value'].user.email }}</a></small></em>
                            {{ include('root-admin/model/prototype/_opinion.html.twig', {form:opinion}) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-7">
        <div class="container mt-0 pt-0">
            {{- form_widget(form.description) -}}
        </div>
        <p class="card-header mt-2 text-center">Images</p>
        <div class="container bg-white pt-0">
            <button class="btn btn-outline-primary btn-new-image mt-3 btn-sm mb-3" type="button" data-collection="#images">Add image</button>
            {% if app.request.attributes.get('_route') == 'root_admin_model_edit' %}
                {% for image in model.images %}
                    <div class="col-12 text-center">
                        <img class="img-fluid" src="{{ asset('/uploads/models/modelsAttachments/'~image.name)| imagine_filter('large') }}"/>
                        <a href="{{ path('root_admin_model_delete_image', {'id':image.id}) }}" class="btn btn-outline-danger btn-sm m-4"
                           data-delete
                           data-token="{{ csrf_token('delete' ~ image.id) }}">Delete image</a><br>
                        <em class="text-muted" style="font-size: 12px">{{ image.name }}</em>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container" id="images"
                 data-prototype="{{ include('root-admin/model/prototype/_image.html.twig', {form:form.images.vars.prototype})|e('html_attr') }}"
                 data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}">
                {% for image in form.images %}
                    <div class="container">
                        {{ include('root-admin/model/prototype/_image.html.twig', {form:image}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




