{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h2>Forgotten password Step 1</h2>
        {{ form_start(forgotPasswordFormStep1) }}
        <div class="row mt-5">
            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep1.email.first) }}
            </div>
            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep1.email.second) }}

{#                {{ form_label(forgotPasswordFormStep1.email.second) }}#}
{#                {{ form_widget(forgotPasswordFormStep1.email.second) }}#}
{#                {{ form_error(forgotPasswordFormStep1.email.second) }}#}
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-outline-primary mx-auto" title="Type your email 2 times">Send update link</button>
        </div>
        {{ form_end(forgotPasswordFormStep1) }}
    </div>
{% endblock %}


