<div class="container-fluid dev-by-section">
    <div class="d-flex float-end">
        <div class="container">
            <a href="{{ path('api_platform_development_list') }}" class="btn btn-outline-danger btn-sm p-1">X</a>
        </div>
    </div>
    <div class="dev-view">
        <div class="col-8">
            <div class="card border-0">
                <div class="card-body">
                    <span class="text-muted"><strong>{{ dev.title }}</strong></span><br>
                    <small><em>Created on {{ dev.createdAt|date('d/m/y') }}</em></small>
                    <p class="text-success">{{ dev.section.title }}</p>
                    <p class="card-text"><small>{{ dev.content|raw }}</small></p>
                    <span class="card-text"><small>Attached file(s) : </small></span><br>
                    {% for file in dev.files %}
                        <span><small><a href="{{ asset('/uploads/dev-files/'~ file.name ) }}">{{ file.name }}</a></small></span>
                        <br>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    {% if dev.posts|length > 0 %}
                        <p class="card-header text-center mb-3"><small>{{ dev.posts|length }} POSTS</small></p>
                        {% for post in dev.posts %}
                            <p class="card-title"><strong><small>{{ post.title }}</small></strong>
                                <span class="card-title text-primary float-end"><small><em>Posted by {{ post.user.email }}</em></small></span>
                            </p>
                            <span class="card-title text-muted"><small><em>{{ post.createdAt|date('d/m/Y') }}</em></small></span>
                            <br>
                            <p class="card-text"><small>{{ post.content|raw }}</small></p>
                            <hr>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-0 text-center">
                <div class="card-header">
                    {% if dev.tags|length > 0 %}
                        <p class="card-header text-center mb-2"><small>TAGS</small></p>
                        {% for tag in dev.tags %}
                            <span class="badge bg-primary text-white m-1">{{ tag.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="card border-0 text-center mt-3">
                {% if dev.notes|length > 0 %}
                    <div class="card-header">
                        <p class="card-header mt-3 text-center mb-3">NOTES</p>
                        {% for note in dev.notes %}
                            <p class="card-title mt-2"><strong><small>{{ note.title }}</small></strong></p>
                            <p class="card-title text-primary">
                                <small><em>Posted by {{ note.user.email }}</em></small>
                                <span class="card-title text-primary"><small><em>on {{ note.createdAt|date('d/m/Y') }}</em></small></span>
                            </p>
                            <p class="card-text"><small><em>{{ note.content|raw }}</em></small></p>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

