<div class="row">
    <div class="col-5">
        <div class="container mt-0 pt-0">
            {{- form_label(form.title) -}}{{- form_widget(form.title) -}}
        </div>
        <div class="container mt-0 pt-0">
            {{- form_label(form.section) -}}{{- form_widget(form.section) -}}
        </div>
        <div class="container mt-0 pt-0">
            {{- form_label(form.tags) -}}{{- form_widget(form.tags) -}}
        </div>
        <hr>
        <div class="container bg-white pt-0">
            <button class="btn btn-outline-primary btn-new-file mt-3 btn-sm mb-3" type="button" data-collection="#files">Add file</button>
            {% if app.request.attributes.get('_route') == 'root_admin_dev_edit' %}
                {% for file in dev.files %}
                    <div class="col-12">
                        <em class="text-muted" style="font-size: 12px">Path : {{ file.path }}</em>
                        <p><a href="#">{{ file.name }}</a></p>
                        <a href="{{ path('root_admin_dev_delete_file', {'id':file.id}) }}" class="btn btn-outline-danger btn-sm"
                           data-delete
                           data-token="{{ csrf_token('delete' ~ file.id) }}">Delete file</a>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container" id="files"
                 data-prototype="{{ include('root-admin/development/prototype/_file.html.twig', {form:form.files.vars.prototype})|e('html_attr') }}"
                 data-index="{{ form.files|length > 0 ? form.files|last.vars.name + 1 : 0 }}">
                {% for file in form.files %}
                    <div class="container">
                        {{ include('root-admin/development/prototype/_file.html.twig', {form:file}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>
    <div class="col-7">
        <div class="container">
            {{- form_label(form.content) -}}{{- form_widget(form.content) -}}
        </div>
        <div class="container">
            <button class="btn btn-outline-primary btn-new-note mt-3 btn-sm" type="button" data-collection="#notes">Add Note</button>
            <div class="row mt-3" id="notes"
                 data-prototype="{{ include('root-admin/development/prototype/_note.html.twig', {form:form.notes.vars.prototype})|e('html_attr') }}"
                 data-index="{{ form.notes|length > 0 ? form.notes|last.vars.name + 1 : 0 }}">
                {% for note in form.notes %}
                    <div class="col-6">
                        {{ include('root-admin/development/prototype/_note.html.twig', {form:note}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-center">
        <div class="container">
            {{- form_widget(form.submit, {'attr':{'class':'btn btn-warning'}}) -}}
        </div>
    </div>
</div>




