{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="wrapper">
    <div id="formContent">
            <div class="container mt-1">
                <span>Registration Form</span><br>
            </div>
            <div class="container">
                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm.email) }}<br>
                {{ form_widget(registrationForm.password) }}
                {{ form_widget(registrationForm.imageFile) }}
                {{ form_widget(registrationForm.agreeTerms) }}
                <button type="submit" id="_register-button" class="mt-3">Register</button><br>
                <a href="{{ path('symfony_dev_app') }}" class="btn btn-outline-info btn-sm mb-2"><< Back</a>
                {{ form_end(registrationForm) }}
            </div>
    </div>
</div>



{% endblock %}
