{%- set navbar = '/navbars/admin_navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="main-container">
        <div class="row">
            <div class="container form-model mb-5 mt-3">
                <div class="jumbotron jumbotron mb-3">
                    <div class="container">
                        <span class="lead"><strong>Edit model</strong></span>
                        <p>
                            <small>- Use Tom-select for multi-select fields(No JQuery)</small><br>
                            <small>- Use Symfony CollectionType and custom Searchable EntityType</small><br>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between p-2 mb-2">
                    <a href="{{ path('root_admin_model_list') }}" class="btn btn-outline-primary btn-sm"><< Back</a>
                    <h5>{{ model.name }}</h5>
                    {{- form_widget(form.submit, {'attr':{'class':'btn btn-warning btn-sm'}}) -}}
                </div>
                {{ include('root-admin/model/form/_form.html.twig', {form: form}) }}
            </div>
        </div>
    </div>
    {{ form_end(form,{ render_rest: false }) }}
{% endblock %}



