{%- set navbar = '/navbars/admin_navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="container">
        {% include'_partials/_flashbag.html.twig' %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Price</th>
                <th>Created At</th>
                <th>Categories</th>
                <th>Options</th>
                <th>Images</th>
                <th>Original</th>
                <th>Thumbnail</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for model in models %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.name }}</td>
                    <td>{{ model.price }}</td>
                    <td>{{ model.createdAt|date('d/m/Y') }}</td>
                    <td><small>
                            {% for category in model.categories %}
                                - {{ category.name }}<br>
                            {% endfor %}
                        </small>
                    </td>
                    <td>{{ model.options|length }}</td>
                    <td>{{ model.images|length }}</td>
                    <td><img src="{{ asset('/uploads/models/thumbnails/'~model.thumbnail)| imagine_filter('my_thumb') }}"/></td>
                    <td>
                        <a href="{{ path('root_admin_model_edit', {id: model.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{{ path('root_admin_model_delete', {id: model.id}) }}"  class="btn btn-danger btn-sm">Delete</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

