{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="d-flex text-center">
        <div class="container mt-3">
            <a href="{{ path('development_publication') }}" class="btn btn-outline-primary btn-sm mt-3"><< Back</a>
        </div>
    </div>
    {% include'_partials/_flashbag.html.twig' %}
    <div class="jumbotron jumbotron mt-3">
        <div class="container text-center">
            <div class="alert alert-primary p-2" role="alert">
                Publish / Reply post
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="container-fluid dev-by-section">
            <div class="dev-view">
                <div class="row">
                    {% if dev.notes|length > 0 %}
                        <div class="col-3">
                            <div class="card border-0 bg-transparent">
                                <div class="card-header">
                                    <p class="card-header mt-4 text-center mb-3">{{ dev.notes|length }} NOTES</p>
                                    {% for note in dev.notes|reverse(true) %}
                                        <div class="card mb-2">
                                            <div class="card-header text-success"><em>{{ note.title }}</em></div>
                                            <div class="card-body">
                                                <span class="card-text"><small>{{ note.content }}</small></span>
                                            </div>
                                            <div class="card-footer text-muted">
                                                <small><em>Posted by {{ note.user }} on {{ note.createdAt|date('d/m/Y') }}</em></small>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-5">
                        <div class="card documentation">
                            <div class="card-header p-2 text-center">
                                <h5><code>{{ dev.title }}</code></h5>
                                <h5 class="text-success pt-1">{{ dev.section.title }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="float-end text-muted"><em>Created on {{ dev.createdAt|date('d/m/y') }}</em>
                                </div>
                                <p class="card-text">{{ dev.content|raw }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        {% if dev.posts|length > 0 %}
                            <div class="card border-0 bg-transparent">
                                <div class="card-header">
                                    <p class="card-header mt-4 text-center">{{ dev.posts|length }} POSTS</p>
                                    <div class="container">
                                        {% for post in dev.posts|reverse(true) %}
                                            {% if post.parent == null %}
                                                <div class="container post">
                                                    <span class="card-text">{{ post.title }}</span>
                                                    {% if is_granted('edit', post) %}
                                                        <span class="text-danger float-end"><small><em>Posted by You  on {{ post.createdAt|date('d/m/Y, H:i') }}</em></small></span>
                                                    {% else %}
                                                        <span class="text-muted float-end"><small><em>{{ post.user.email }} on {{ post.createdAt|date('d/m/Y, H:i') }}</em></small></span>
                                                    {% endif %}
                                                    <p class="card-title text-muted">
                                                        <span><small><em>( {{ post.replies|length }} replies )</em></small></span>
                                                    </p>
                                                    <span class="card-text"><small>{{ post.content|raw }}</small></span>
                                                    <a href="#add-post" data-reply data-id="{{ post.id }}" class="btn btn-info btn-sm text-white">Reply</a>
                                                    {% if is_granted('edit', post) %}
                                                        <a href="{{ path('development_publication_edit', { id : post.id }) }}" class="btn btn-sm btn-info text-white">Update</a>
                                                    {% endif %}
                                                </div>
                                                {# affichage des reponses #}
                                                {% for reply in post.replies %}
                                                    <div class="card replies p-3">
                                                        <small><strong>{{ reply.title }}</strong></small>
                                                        <small>{{ reply.content|raw }}</small>
                                                        <small class="text-muted"><em>Reply by {{ reply.user.email }} on {{ reply.createdAt|date('d/m/Y, H:i') }}</em></small>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="card border-0 bg-transparent">
                            <div class="card-header text-center">
                                <p class="card-header mt-4 text-center mb-3">Publish Comment</p>
                                {{ form_start(postForm) }}
                                {{ form_widget(postForm.title,{'attr':{'class':'mb-2','id':'add-post'}}) }}
                                {{ form_widget(postForm.content) }}
                                {{ form_end(postForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
