{%- set navbar = '/navbars/admin_navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="main-container">
        <div class="row">
            <div class="container-fluid">
                <div class="jumbotron jumbotron mb-3 mt-5">
                    <div class="container">
                        <span class="lead"><strong>Edit Your account {{ user.email }}</strong></span>
                    </div>
                    {{ form_start(form) }}
                    <div class="container">
                        <span><a href="{{ path('user_account') }}" class="btn btn-outline-primary btn-sm"><< Back</a></span>
                        <span class="float-end">{{- form_widget(form.submit) -}}</span>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between m-5">
                    <div class="col-7">
                        <div class="row">
                            <div class="col-7">
                                <img src="{{ asset('/uploads/user-image/'~user.image)| imagine_filter('medium') }}" alt="" class="mt-2 mb-3">
                            </div>
                            <div class="col-5">
                                <p class="card-header text-center mb-3">Edit profile</p>
                                <div class="container">
                                    <table class="table table-user">
                                        <tr>
                                            <td>{{- form_widget(form.email) -}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{- form_errors(form.imageFile) -}}{{- form_widget(form.imageFile) -}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted" hidden>{{- form_label(form.password) -}}{{- form_widget(form.password) -}}</td>
                                        </tr>
                                        <tr>
                                            <td hidden>{{- form_widget(form.roles) -}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted float-end" hidden>{{- form_widget(form.isVerified) -}}</td>
                                        </tr>
                                    </table>
                                </div>
                                {{ form_end(form) }}
                                <div class="container">
                                    <p>
                                        {% for role in user.roles %}
                                            | {{ role }} |
                                        {% endfor %}
                                    </p>
                                    <span>Account verified at : {{ user.accountVerifiedAt|date('d/m/Y') }}</span><br>
                                    <span class="product-single-price">Registered at : {{ user.registeredAt|date('d/m/Y') }}</span>
                                    <p>Verified : {% if user.isVerified == 1 %}Yes{% else %}No{% endif %}</p>
                                    <div {{ stimulus_controller('modal-form', { formUrl: path('change_account_password') }) }} data-action="hidden.bs.modal->modal-form#modalHidden">
                                        <button class="btn btn-outline-info btn-sm" data-action="modal-form#openModal">Change password</button>
                                        {{ include('_modal/_modal.html.twig', { modalTitle: 'Change your password' }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 bg-white">
                        <p class="card-header text-center mb-3">{{ user.addresses|length }} Addresses</p>
                        <div class="row text-center justify-content-center mt-2">
                            {% if user.addresses == null or user.addresses|length == 0 %}
                                <div class="container">
                                    <p><em>You have no registered address.</em></p>
                                    <span {{ stimulus_controller('modal-form', { formUrl: path('account_address_add')}) }} data-action="hidden.bs.modal->modal-form#modalHidden">
                                            <button type="button" class="btn btn-outline-info btn-sm mb-2" data-action="modal-form#openModal">Add address</button>
                                            {{ include('_modal/_modal.html.twig', { modalTitle: 'Add address' }) }}
                                        </span>
                                </div>
                            {% endif %}
                            {% for address in user.addresses %}
                                <div class="col-6">
                                    <div class="container">
                                        <p class="text-muted"><strong>{{ address.name }}</strong></p>
                                        {{ address.address }}<br>
                                        {{ address.city }} - {{ address.country }}<br>
                                        {{ address.createdAt|date('d/m/Y') }}<br>
                                        <a href="{{ path('account_address_delete', { id : address.id }) }}" class="btn btn-outline-danger btn-sm p-1 mt-2"
                                           data-delete
                                           data-token="{{ csrf_token('delete' ~ address.id) }}">Delete</a>
                                        <span {{ stimulus_controller('modal-form', { formUrl: path('account_address_edit', {id:address.id})  }) }} data-action="hidden.bs.modal->modal-form#modalHidden">
                                            <button type="button" class="btn btn-outline-info btn-sm p-1 mt-2" data-action="modal-form#openModal">Update</button>
                                            {{ include('_modal/_modal.html.twig', { modalTitle: 'Update address' }) }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <p class="card-header text-center mb-3">{{ user.posts|length }} Developments Posts</p>
                <div class="row justify-content-around">
                    {% for post in user.posts %}
                        <div class="col-6">
                            <div class="container bg-white">
                                <p><strong>{{ post.title }}</strong>
                                    <span class="text-muted float-end"><small><em>Posted on {{ post.createdAt|date('d/m/Y') }}</em></small></span>
                                </p>
                                <span class="text-muted"><small><em>About documentation "{{ post.development.title }}"</em></small></span>
                                <hr>
                                <span><small>{{ post.content|raw }}</small></span><br>
                                <a href="{{ path('post_delete', { id : post.id }) }}" class="btn btn-outline-danger btn-sm p-1 mt-3"
                                   data-delete
                                   data-token="{{ csrf_token('delete' ~ post.id) }}">Delete</a>
                                <span {{ stimulus_controller('modal-form', { formUrl: path('post_update',{ id:post.id}) }) }} data-action="hidden.bs.modal->modal-form#modalHidden">
                                    <button type="button" class="btn btn-outline-info btn-sm p-1 mt-3" data-action="modal-form#openModal">Update</button>
                                    {{ include('_modal/_modal.html.twig', { modalTitle: 'Update post' }) }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                {% if is_granted('ROLE_ADMIN') %}
                    <p class="card-header text-center mb-3">{{ user.notes|length }} Admin Notes</p>
                    <div class="row justify-content-around">
                        {% for note in user.notes %}
                            <div class="col-6">
                                <div class="container bg-white">
                                    <span><strong><em>{{ note.title }}</em></strong></span>
                                    <span class="text-muted float-end"><small><em>{{ note.createdAt|date('d/m/Y') }}</em></small></span>
                                    <p class="text-muted">
                                        <small><em>About documentation "{{ note.development.title }}"</em></small>
                                    </p>
                                    <span><small><em>{{ note.content }}</em></small></span><br>
                                    <a href="{{ path('note_delete', { id : note.id }) }}" class="btn btn-outline-danger btn-sm p-1 mt-3"
                                       data-delete
                                       data-token="{{ csrf_token('delete' ~ note.id) }}">Delete</a>
                                    <span {{ stimulus_controller('modal-form', { formUrl: path('note_update',{ id:note.id}) }) }} data-action="hidden.bs.modal->modal-form#modalHidden">
                                    <button type="button" class="btn btn-outline-info btn-sm p-1 mt-3" data-action="modal-form#openModal">Update</button>
                                    {{ include('_modal/_modal.html.twig', { modalTitle: 'Update note' }) }}
                                </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="card-header text-center mb-3">{{ user.opinions|length }} Models opinions</p>
                    <div class="row justify-content-around">
                        {% for opinion in user.opinions %}
                            <div class="col-6">
                                <div class="container bg-white">
                                    <span><strong><em>Note : {{ opinion.vote }} /5</em></strong></span>
                                    <span class="text-muted float-end"><small><em>{{ opinion.createdAt|date('d/m/Y') }}</em></small></span>
                                    <p class="text-muted">
                                        <small><em>About model "{{ opinion.model.name }}"</em></small>
                                    </p>
                                    <span><small><em>{{ opinion.comment }}</em></small></span><br>
                                    <a href="{{ path('opinion_delete', { id : opinion.id }) }}" class="btn btn-outline-danger btn-sm p-1 mt-3"
                                       data-delete
                                       data-token="{{ csrf_token('delete' ~ opinion.id) }}">Delete</a>
                                    <span {{ stimulus_controller('modal-form', { formUrl: path('opinion_update',{ id:opinion.id}) }) }} data-action="hidden.bs.modal->modal-form#modalHidden">
                                            <button type="button" class="btn btn-outline-info btn-sm p-1 mt-3" data-action="modal-form#openModal">Update</button>
                                            {{ include('_modal/_modal.html.twig', { modalTitle: 'Update note' }) }}
                                        </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
