{%- set navbar = '/navbars/admin_navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="row">
        <div class="container">
            <div class="col-md-7 my-auto">
                <h3>{{ user.email }}</h3>
                <p>{{ user.roles[0] }}</p>
                <p>{{ user.accountVerifiedAt|date('d/m/Y') }}</p>
                <span class="product-single-price">{{ user.registeredAt|date('d/m/Y') }}</span>
                <p>Verified : {{ user.isVerified }}</p>
            </div>
        </div>
    </div>
    <hr class="mb-5"/>
    <div class="container">
        {% for post in user.posts %}
            <div class="col-3">
                {{ post.title }}
                {{ post.content|raw }}
                {{ post.title }}
                {{ post.createdAt|date('d/m/Y') }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        {% for note in user.notes %}
            <div class="col-md-3">
                {{ note.title }}
                {{ note.content|raw }}
                {{ note.createdAt|date('d/m/Y') }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

