{%- set navbar = '/navbars/admin_navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="main-container">
        <div class="row">
            <div class="container-fluid form-model m-3">
                <div class="jumbotron jumbotron mb-3">
                    <div class="container">
                        <span class="lead"><strong>Edit User</strong></span>
                    </div>
                    <div class="container">
                        <span><a href="{{ path('root_admin_users') }}" class="btn btn-outline-primary btn-sm"><< Back</a></span>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="col-8">
                        <div class="row text-center">
                            <div class="col-6">
                                <img src="{{ asset('/uploads/user-image/'~user.image)| imagine_filter('medium') }}" alt="" class="mt-2 mb-3">
                                <h5>{{ user.email }}</h5>
                                <p>
                                    {% for role in user.roles %}
                                        | {{ role }} |
                                    {% endfor %}
                                </p>
                                <span>Account verified at : {{ user.accountVerifiedAt|date('d/m/Y') }}</span><br>
                                <span class="product-single-price">Registered at : {{ user.registeredAt|date('d/m/Y') }}</span>
                                <p>Verified : {% if user.isVerified == 1 %}Yes{% else %}No{% endif %}</p>
                            </div>
                            <div class="col-6 bg-white">
                                <p class="card-header text-center mb-3">{{ user.addresses|length }} Addresses</p>
                                <div class="row text-center justify-content-center mt-2">
                                    {% for address in user.addresses %}
                                        <div class="col-5">
                                            <p class="text-primary">{{ address.name }}</p>
                                            {{ address.address }}<br>
                                            {{ address.city }} - {{ address.country }}<br>
                                            {{ address.createdAt|date('d/m/Y') }}<br>
                                            <a href="{{ path('root_admin_account_address_delete', {'id':address.id}) }}" class="btn btn-outline-danger btn-sm p-1 m-3">Delete</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <p class="card-header text-center mb-3">Edit profile</p>
                        <div class="container">
                            <table class="table table-user">
                                <tr>
                                    <td>{{- form_widget(form.email) -}}</td>
                                </tr>
                                <tr>
                                    <td>{{- form_errors(form.imageFile) -}}{{- form_widget(form.imageFile) -}}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted">{{- form_label(form.password) -}}{{- form_widget(form.password) -}}</td>
                                </tr>
                                <tr>
                                    <td>{{- form_widget(form.roles) -}}</td>
                                </tr>
                                <tr>
                                    <td class="text-muted float-end">{{- form_widget(form.isVerified) -}}</td>
                                </tr>
                            </table>
                            <div class="row">
                                <div class="container text-center">
                                    <span>{{- form_widget(form.submit) -}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="container bg-white">
                    <p class="card-header text-center mb-3">{{ user.posts|length }} Posts</p>
                    <div class="row mt-3"
                         data-prototype="{{ include('root-admin/user/prototype/_post.html.twig', {form:form.posts.vars.prototype})|e('html_attr') }}"
                         data-index="{{ form.posts|length > 0 ? form.posts|last.vars.name + 1 : 0 }}">
                        {% for post in form.posts %}
                            <div class="col-6">
                                <div class="container text-end p-1">
                                    <small class="text-primary"><em>About development <a href="{{ path('root_admin_dev_edit',{ id : post.vars['value'].development.id  }) }}">{{ post.vars['value'].development.title }}</a></em></small>
                                </div>
                                {{ include('root-admin/user/prototype/_post.html.twig', {form:post}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                {% if app.request.attributes.get('_route') == 'root_admin_user_edit' %}
                    {% for role in user.roles %}
                        {% if role != 'ROLE_ADMIN' %}
                            <p class="card-header text-center">{{ user.opinions|length }} Opinions</p>
                            <div class="container bg-white">
                                <div class="row"
                                     data-prototype="{{ include('root-admin/user/prototype/_opinion.html.twig', {form:form.opinions.vars.prototype})|e('html_attr') }}"
                                     data-index="{{ form.opinions|length > 0 ? form.opinions|last.vars.name + 1 : 0 }}">
                                    {% for opinion in form.opinions %}
                                        <div class="col-6">
                                            <small class="text-primary"><em>About model <a href="{{ path('root_admin_model_edit',{ id : opinion.vars['value'].model.id  }) }}">{{ opinion.vars['value'].model.name }}</a></em></small>
                                            {{ include('root-admin/user/prototype/_opinion.html.twig', {form:opinion}) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% for role in user.roles %}
                    {% if role == 'ROLE_ADMIN' %}
                        <p class="card-header text-center mb-3 mt-3">{{ form.notes|length }} Admin Note(s)</p>
                        <div class="container bg-white">
                            <div class="row mt-3"
                                 data-prototype="{{ include('root-admin/development/prototype/_note.html.twig', {form:form.notes.vars.prototype})|e('html_attr') }}"
                                 data-index="{{ form.notes|length > 0 ? form.notes|last.vars.name + 1 : 0 }}">
                                {% for note in form.notes %}
                                    <div class="col-6">
                                        <small class="text-primary"><em>About develoment <a href="{{ path('root_admin_dev_edit',{ id : note.vars['value'].development.id  }) }}">{{ note.vars['value'].development.title }}</a></em></small>
                                        {{ include('root-admin/development/prototype/_note.html.twig', {form:note}) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {{ form_end(form,{ render_rest: false }) }}
{% endblock %}
